@font-face {
  font-family: 'BMYEONSUNG';
  font-style: normal;
  src: url('https://cdn.jsdelivr.net/gh/trmedi/trfont/Baemin/BMYEONSUNG.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/trmedi/trfont/Baemin/BMYEONSUNG.woff') format('woff');
  font-display: swap;
}