@font-face {
  font-family: 'GmarketSans';
  font-style: normal;
  font-weight: 300;
  src: url('https://cdn.jsdelivr.net/gh/trmedi/trfont/GmarketSans/GmarketSansLight.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/trmedi/trfont/GmarketSans/GmarketSansLight.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'GmarketSans';
  font-style: normal;
  font-weight: 500;
  src: url('https://cdn.jsdelivr.net/gh/trmedi/trfont/GmarketSans/GmarketSansMedium.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/trmedi/trfont/GmarketSans/GmarketSansMedium.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'GmarketSans';
  font-style: normal;
  font-weight: 700;
  src: url('https://cdn.jsdelivr.net/gh/trmedi/trfont/GmarketSans/GmarketSansBold.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/trmedi/trfont/GmarketSans/GmarketSansBold.woff') format('woff');
  font-display: swap;
}