@font-face {
  font-family: 'paperlogy';
  font-style: normal;
  font-weight: 100;
  src: url('https://cdn.jsdelivr.net/gh/trmedi/trfont/paperlogy/Paperlogy-1Thin.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/trmedi/trfont/paperlogy/Paperlogy-1Thin.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'paperlogy';
  font-style: normal;
  font-weight: 200;
  src: url('https://cdn.jsdelivr.net/gh/trmedi/trfont/paperlogy/Paperlogy-2ExtraLight.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/trmedi/trfont/paperlogy/Paperlogy-2ExtraLight.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'paperlogy';
  font-style: normal;
  font-weight: 300;
  src: url('https://cdn.jsdelivr.net/gh/trmedi/trfont/paperlogy/Paperlogy-3Light.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/trmedi/trfont/paperlogy/Paperlogy-3Light.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'paperlogy';
  font-style: normal;
  font-weight: 400;
  src: url('https://cdn.jsdelivr.net/gh/trmedi/trfont/paperlogy/Paperlogy-4Regular.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/trmedi/trfont/paperlogy/Paperlogy-4Regular.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'paperlogy';
  font-style: normal;
  font-weight: 500;
  src: url('https://cdn.jsdelivr.net/gh/trmedi/trfont/paperlogy/Paperlogy-5Medium.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/trmedi/trfont/paperlogy/Paperlogy-5Medium.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'paperlogy';
  font-style: normal;
  font-weight: 600;
  src: url('https://cdn.jsdelivr.net/gh/trmedi/trfont/paperlogy/Paperlogy-6SemiBold.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/trmedi/trfont/paperlogy/Paperlogy-6SemiBold.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'paperlogy';
  font-style: normal;
  font-weight: 700;
  src: url('https://cdn.jsdelivr.net/gh/trmedi/trfont/paperlogy/Paperlogy-7Bold.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/trmedi/trfont/paperlogy/Paperlogy-7Bold.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'paperlogy';
  font-style: normal;
  font-weight: 800;
  src: url('https://cdn.jsdelivr.net/gh/trmedi/trfont/paperlogy/Paperlogy-8ExtraBold.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/trmedi/trfont/paperlogy/Paperlogy-8ExtraBold.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'paperlogy';
  font-style: normal;
  font-weight: 900;
  src: url('https://cdn.jsdelivr.net/gh/trmedi/trfont/paperlogy/Paperlogy-9Black.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/trmedi/trfont/paperlogy/Paperlogy-9Black.woff') format('woff');
  font-display: swap;
}