@font-face {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 100;
  src: url('https://cdn.jsdelivr.net/gh/trmedi/trfont/Pretendard/Pretendard-Thin.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/trmedi/trfont/Pretendard/Pretendard-Thin.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 200;
  src: url('https://cdn.jsdelivr.net/gh/trmedi/trfont/Pretendard/Pretendard-ExtraLight.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/trmedi/trfont/Pretendard/Pretendard-ExtraLight.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 300;
  src: url('https://cdn.jsdelivr.net/gh/trmedi/trfont/Pretendard/Pretendard-Light.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/trmedi/trfont/Pretendard/Pretendard-Light.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 400;
  src: url('https://cdn.jsdelivr.net/gh/trmedi/trfont/Pretendard/Pretendard-Regular.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/trmedi/trfont/Pretendard/Pretendard-Regular.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 500;
  src: url('https://cdn.jsdelivr.net/gh/trmedi/trfont/Pretendard/Pretendard-Medium.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/trmedi/trfont/Pretendard/Pretendard-Medium.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 600;
  src: url('https://cdn.jsdelivr.net/gh/trmedi/trfont/Pretendard/Pretendard-SemiBold.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/trmedi/trfont/Pretendard/Pretendard-SemiBold.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 700;
  src: url('https://cdn.jsdelivr.net/gh/trmedi/trfont/Pretendard/Pretendard-Bold.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/trmedi/trfont/Pretendard/Pretendard-Bold.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 800;
  src: url('https://cdn.jsdelivr.net/gh/trmedi/trfont/Pretendard/Pretendard-ExtraBold.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/trmedi/trfont/Pretendard/Pretendard-ExtraBold.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 900;
  src: url('https://cdn.jsdelivr.net/gh/trmedi/trfont/Pretendard/Pretendard-Black.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/trmedi/trfont/Pretendard/Pretendard-Black.woff') format('woff');
  font-display: swap;
}